---
layout: default
---
<article class="post">
  
  <header class="post-header">
    {% assign about = site.pages | where: 'name','about.md' %}
    <h1 class="post-title">{{ about.title }}</h1>
  </header>

  <div class="post-content">
    {% assign about = site.pages | where: 'name','about.md' %}
    {{about}}   
  </div>

</article>




